// Colores
$main-blue: #002856;
$main-pink: #d3045f;
$color-uno: white;
$textos: #3c3c3b;

// Dimensiones
$main-content: 100%;
$main-content-center: 1200px;

$ancho-cont: 100%;
$margen-cont: 0 auto;
$ancho-max: 1200px;

// Dimensiones Responsives

$ancho-cont-resp: 90%;
$margen-cont-resp: 0 auto;
$ancho-max-resp: 90%;

// Margenes

// Tipografias

// Tamaños tipografias

$uno: 2rem;
$dos: 1rem;

// Tamaños Tipografías responsives

// Tamaños mediaqueries
$laptop-1: 1366px;
$laptop-2: 1280px;
$mobile: 770px;
